<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<title>RIA打包系统</title>
		<link rel='stylesheet' href='/css/bootstrap.css' />
		<!-- <link rel='stylesheet' href='/css/bootstrap-responsive.css' /> -->
		<style>
	        body {
	    		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      	}
		</style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
		        <div class="container">
		        	<a class="brand" href="/">RIA打包系统</a>
		        	<div class="nav-collapse">
			          <ul class="nav">
			            <li class="active"><a href="/">首页</a></li>
			          </ul>
			          <!-- <form class="navbar-search pull-left" action="">
			            <input type="text" class="search-query span2" placeholder="搜索">
			          </form> -->
			          <ul class="nav pull-right">
			            <li class="divider-vertical"></li>
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好，<%= username%><b class="caret"></b></a>
			              <ul class="dropdown-menu">
						 <li><a href="/profile">我的资料</a></li>
			                <li class="divider"></li>
			                <li class="nav-header"></li>
			                <li><a href="/logout">退出</a></li>
			              </ul>
			            </li>
			          </ul>
			     </div>
		        </div>
		    </div>
		</div>

		

		<div class="container">
			<ul class="nav nav-tabs">
	          <li class="active"><a href="#js" data-toggle="tab">打包JS</a></li>
	          <li><a href="#css" data-toggle="tab">打包CSS</a></li>
	        </ul>

		    <div class="tab-content">
	            <div class="tab-pane active" id="js">
	              <form onsubmit="return jsformcheck()" class="form-horizontal" action="combinejs" method="post">
					<fieldset>
			          <!-- <legend>打包JS</legend> -->
			          <div class="control-group">
			            <label class="control-label" for="selectPro1">工程名</label>
			            <div class="controls">
			            	<!-- <strong name="" id="proname1">输入svn路径后自动匹配</strong> -->
			              <select name="proname" id="selectPro1">
			                <option value="xblog">xblog</option>
			                <option value="blog7">blog7</option>
			                <option value="blog7icp">blog7icp</option>	                
			              </select>
			              <p class="help-block"></p>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="svnpath">SVN路径</label>
			            <div class="controls">
			              <input type="text" style="width:550px;" class="input-xlarge" name="svnpath" id="svnpath1">
			              <p class="help-block">注意：默认"/"分割倒数第三个字符串为项目名称。</p>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="optionsCheckbox">参数</label>
			            <div class="controls">
			              <label class="checkbox">
			                <input type="checkbox" id="optionsCheckbox" name="increment" checked="checked" value="1">
							增量打包
			              </label>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="machineip">选择测试机</label>
			            <div class="controls">
			              <select name="machineip" id="machineip1">
			                <option value="10.210.132.39">10.210.132.39</option>
			                <option value="10.210.227.109">10.210.227.109</option>
			                <option value="10.210.132.46">10.210.132.46</option>
			                <option value="10.210.213.132">10.210.213.132</option>
			                <option value="10.210.132.38">10.210.132.38</option>
			                <option value="10.210.214.80">10.210.214.80</option>
			                <option value="10.210.71.156">10.210.71.156</option>
			                <option value="10.210.214.80">10.210.214.80</option>
			              </select>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="svnuser">svn用户名</label>
			            <div class="controls">
			              <input name="svnuser" type="text" class="input-xlarge" id="svnuser1">
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="svnpass">svn密码</label>
			            <div class="controls">
			              <input name="svnpass" type="password" class="input-xlarge" id="svnpass1">
			            </div>
			          </div>
			          
			          <div class="form-actions">
			            <button onclick="setStorage();" type="submit" class="btn btn-primary">打包&&发布！</button>
			            <button class="btn">取消</button>
			          </div>
			        </fieldset>
		          </form>
	            </div>
			    
		        <div class="tab-pane" id="css">
		            <form onsubmit="return cssformcheck()" class="form-horizontal" action="combinecss" method="post">
					<fieldset>
			          <!-- <legend>打包CSS</legend> -->
			          <div class="control-group">
			            <label class="control-label" for="selectPro2">工程名</label>
			            <div class="controls">
			              <select name="proname" id="selectPro2">
			                <option value="xblogstyle">xblogstyle</option>
			                <% if(username === "admin") { %>
			                	<option value="blog7style">blog7style</option>
			                <% } %>
			              </select>
			              <p class="help-block">也是输入的项目名称（用来压缩和发布）</p>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="svnpath">SVN路径</label>
			            <div class="controls">
			              <input type="text" style="width:550px;" class="input-xlarge" name="svnpath" id="svnpath2">
			              <p class="help-block">注意：默认"/"分割倒数第三个字符串为项目名称。</p>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="optionsCheckbox2">参数</label>
			            <div class="controls">
			              <label class="checkbox">
			                <input type="checkbox" id="optionsCheckbox2" name="increment" checked="checked" value="1">
							增量打包
			              </label>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="machineip2">选择测试机</label>
			            <div class="controls">
			              <select name="machineip" id="machineip2">
			                <option value="10.210.132.39">10.210.132.39</option>
			                <option value="10.210.227.109">10.210.227.109</option>
			                <option value="10.210.132.46">10.210.132.46</option>
			                <option value="10.210.213.132">10.210.213.132</option>
			                <option value="10.210.132.38">10.210.132.38</option>
			                <option value="10.210.214.80">10.210.214.80</option>
			                <option value="10.210.71.156">10.210.71.156</option>
			                <option value="10.210.214.80">10.210.214.80</option>
			              </select>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="svnuser">svn用户名</label>
			            <div class="controls">
			              <input name="svnuser" type="text" class="input-xlarge" id="svnuser2">
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="svnpass">svn密码</label>
			            <div class="controls">
			              <input name="svnpass" type="password" class="input-xlarge" id="svnpass2">
			            </div>
			          </div>
			          
			          <div class="form-actions">
			            <button onclick="setStorage();" type="submit" class="btn btn-primary">打包&&发布！</button>
			            <button class="btn">取消</button>
			          </div>
			        </fieldset>
		          </form>
		        </div>
	    	</div>
		    		
        </div>

        <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="/js/bootstrap-tab.js"></script>
        <script type="text/javascript" src="/js/localstorage.js"></script>
        
	</body>
</html>